<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <!-- Service metadata -->
        <Property name="service.name">artipie</Property>
        <Property name="service.version">${env:ARTIPIE_VERSION:-${project.version}}</Property>
        <Property name="service.environment">${env:ARTIPIE_ENV:-development}</Property>
    </Properties>

    <Appenders>
        <!-- Console appender with ECS JSON format -->
        <Console name="Console" target="SYSTEM_OUT">
            <EcsLayout serviceName="${service.name}" 
                       serviceVersion="${service.version}"
                       serviceEnvironment="${service.environment}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Artipie application logs -->
        <Logger name="com.artipie" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Third-party libraries (quieter) -->
        <Logger name="io.vertx" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.eclipse.jetty" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="software.amazon.awssdk" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
