# default registry for unscoped packages
registry=http://localhost:8081/artifactory/api/npm/npm_group
//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJheWQiLCJjb250ZXh0Ijoia2V5Y2xvYWsiLCJpYXQiOjE3NTk2MDM3NDZ9.0EJHBrWkbgy9Adcmd7iznpTiBCKhhiabQOjos57-kMk

# Prevent npm from trying the public registry
@wkda:registry=http://localhost:8081/artifactory/api/npm/npm
//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJheWQiLCJjb250ZXh0Ijoia2V5Y2xvYWsiLCJpYXQiOjE3NTk2MDM3NDZ9.0EJHBrWkbgy9Adcmd7iznpTiBCKhhiabQOjos57-kMk

#@local:registry=http://localhost:8081/artifactory/api/npm/npm
#//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJheWQiLCJjb250ZXh0Ijoia2V5Y2xvYWsiLCJpYXQiOjE3NTk2MDM3NDZ9.0EJHBrWkbgy9Adcmd7iznpTiBCKhhiabQOjos57-kMk

