# default registry for unscoped packages
registry=https://artifactory.prod.auto1.team:8443/artifactory/npm-local
//artifactory.prod.auto1.team:8443/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJheWQiLCJjb250ZXh0Ijoia2V5Y2xvYWsiLCJpYXQiOjE3NjEwNTcxNTV9.4NeWi2YXWbqydjkyZxJmJMKh_AcjOnz526KOViDT14E

# Prevent npm from trying the public registry
#@proxy:registry=http://localhost:8081/artifactory/npm_proxy
#//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJheWQiLCJjb250ZXh0Ijoia2V5Y2xvYWsiLCJpYXQiOjE3NTk2MDM3NDZ9.0EJHBrWkbgy9Adcmd7iznpTiBCKhhiabQOjos57-kMk

#@local:registry=http://localhost:8081/artifactory/npm
#//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJheWQiLCJjb250ZXh0Ijoia2V5Y2xvYWsiLCJpYXQiOjE3NTk2MDM3NDZ9.0EJHBrWkbgy9Adcmd7iznpTiBCKhhiabQOjos57-kMk

