# default registry for unscoped packages
registry=http://localhost:8081/npm_proxy
//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhcnRpcGllIiwiY29udGV4dCI6ImVudiIsImlhdCI6MTc1ODEzNTQxMn0.g70yufmcGd4UtJeQoO_1Z-gdImnfOMbcz6JWYq0XlIA

# Prevent npm from trying the public registry
@proxy:registry=http://localhost:8081/npm_proxy
//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhcnRpcGllIiwiY29udGV4dCI6ImVudiIsImlhdCI6MTc1ODEzNTQxMn0.g70yufmcGd4UtJeQoO_1Z-gdImnfOMbcz6JWYq0XlIA

@local:registry=http://localhost:8081/npm_local
//localhost:8081/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhcnRpcGllIiwiY29udGV4dCI6ImVudiIsImlhdCI6MTc1ODEzNTQxMn0.g70yufmcGd4UtJeQoO_1Z-gdImnfOMbcz6JWYq0XlIA

